<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<style>
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 50px;
		}
		
		.text {
			flex: 1;
			margin-right: 50px;
		}
		
		.image {
			flex: 1;
			max-width: 400px;
			height: auto;
		}
	</style>
</head>
<body>
	<h1>About Us</h1>
	<div class="container">
		<div class="text">
			<p>Welcome to our Online Doctor Appointment System website! </p>
			<p>Our mission is to help you to book your Appointment when ever you want. </p>
			<p> The proposed project is a smart appointment booking system that provides patients or any user an easy way of booking a doctors appointment online</p>
			<p>This is a web based application that overcomes the issue of managing and booking appointments according to users choice or demands.</p>
			<p> The task sometimes becomes very tedious for the compounder or doctor himself in manually allotting appointments for the users as per their availability. </p>
			<p>Hence this project offers an effective solution where users can view various booking slots available and select the preferred date and time.</p>
		</div>
		<div class="image">
			<img src=".../../assets/img/D.png" alt="About Us Photo">

		</div>		
	</div>
</body>
</html>