<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td>Kodidhi Manasa</td>
 <td>manasa@gmail.com</td>
<td>7689543456</td>
<td>35</td>
<td>Female</td>
<td>AB +ve</td>
<td>10-09-2023</td>
<td> &nbsp;&nbsp;&nbsp;	Dr.Kathikeya</td>
<td>Heart Attack</td>
<td>20-09-2023</td>
</tr>
</table>