<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid"><a class="navbar-brand" routerLink="">HappyHealth.com</a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">  
                <div class="dropdown">
                    <button class="dropbtn bg-dark"> <li class="nav-item"><a class="nav-link active" routerLink="/menu"> ☰ Menu</a></li>  </button>
                    <div class="dropdown-content">
                    <a routerLink="/signup">Signup</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/">Home</a>
                    <a routerLink="/profile">Profile</a>
                    <a routerLink="/search-filter">Doctors Specialization</a>
                    <a routerLink="/doctordetails">Online Doctor Consultant</a>
                    <a routerLink="/prescription">Prescription</a>
                    <a routerLink="/pmedication">Medication from doctor</a>
                    <a routerLink="/ContactUs">ContactUs</a>
                  <a routerLink="/">Logout</a>
                    </div>
                  </div>
                  
                <!-- <li class="nav-item"><a class="nav-link active" routerLink="/menu"> ☰ Menu</a></li>                                                                                          -->
                <li class="nav-item"><a class="nav-link active" routerLink="/profile">Profile</a></li>
                <!-- <li  class="nav-item">
                    <a class="nav-link active" routerLink="/view-profile/{{id}}">Profile</a>
                  </li> -->
                <li  class="nav-item"><a class="nav-link active" routerLink="/search-filter"> Doctors Specializations</a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/doctordetails"> Online Doctor Consultant</a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/pmedication"></a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="/success"></a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="/patient-report"></a></li>
             <li  class="nav-item"><a class="nav-link active" routerLink="/ContactUs">ContactUs</a></li>
             <li  class="nav-item"><a class="nav-link active" routerLink="/about">About</a></li>
             <li  class="nav-item"><a class="nav-link active" routerLink="/login">Login</a></li>
             <li  class="nav-item"><a class="nav-link active" routerLink="/signup">Signup</a></li>     
                <li   class="nav-item"><a class="nav-link active" (click)="Logout()">Logout</a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/otp"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/payment"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/add-doctor"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/feedback-form"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/prescription"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/a"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/b"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/c"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/d"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/e"></a></li>
                <li  class="nav-item"><a class="nav-link active" routerLink="/f"></a></li>
            </ul>
        </div>
    </div>
</nav>