<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td> Peddamandem Likhitha</td>
 <td>likhitha.peddamandem@gmail.com</td>
<td>7654321234</td>
<td>23</td>
<td>Female</td>
<td>B +ve</td>
<td>01-09-2023</td>
<td> &nbsp;&nbsp;&nbsp;Dr.Chitra</td>
<td>Malaria</td>
<td>20-09-2023</td>
</tr>
</table>