<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td>ChinnaMandem Ravi</td>
 <td>ravi@gmail.com</td>
<td>9872345674</td>
<td>45</td>
<td>Male</td>
<td>A -ve</td>
<td>15-09-2023</td>
<td> &nbsp;&nbsp;&nbsp;Dr.Dinesh</td>
<td>Influenza</td>
<td>20-09-2023</td>
</tr>
</table>