<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td>Basireddy Pranay</td>
 <td>pranay@gmail.com</td>
<td>9872347651</td>
<td>45</td>
<td>Male</td>
<td>O +ve</td>
<td>15-08-2023</td>
<td> &nbsp;&nbsp;&nbsp;Dr.Priya</td>
<td>Dengue</td>
<td>20-08-2023</td>
</tr>
</table>