<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td>Madem Sushmitha</td>
 <td>Sushmitha@gmail.com</td>
<td>9877654321</td>
<td>24</td>
<td>Female</td>
<td>AB +ve</td>
<td>05-09-2023</td>
<td> &nbsp;&nbsp;&nbsp;Dr.Manasa</td>
<td>Tuberculosis</td>
<td>25-09-2023</td>
</tr>
</table>
