<table>
    <tr class="border" style="border:black 2px solid;">
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Bloodgroup</th>
    <th>LastVisit</th>
    <th>Consultant Doctor</th>
    <th>Disease</th>
    <th>Next CheckUpDate</th>
</tr><tr>
<td>Nagendra Naidu</td>
 <td>Nagendra@gmail.com</td>
<td>6576766345</td>
<td>40</td>
<td>Male</td>
<td>O -ve</td>
<td>18-09-2023</td>
<td> &nbsp;&nbsp;&nbsp;	Dr.Iqbal Basha</td>
<td>Brain tumor</td>
<td>20-09-2023</td>
</tr>
</table>